####################################
# OS Files
####################################

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

####################################
# Editor Files
####################################

# VS Code
.vscode/

# JetBrains
.idea/

####################################
# Logs & Temp
####################################
*.log
*.tmp
*.temp
